<div class="row">
<div class="well col-md-6">


<form [ngFormModel]="newUserForm">
    <fieldset>
        <legend>User</legend>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" ngControl="name" class="form-control" #localName="ngForm" [(ngModel)]="user.name">
            <div *ngIf="localName.touched && localName.errors">
                <div class="alert alert-danger">A name is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" ngControl="email" class="form-control" #localEmail="ngForm" [(ngModel)]="user.email">
            <div *ngIf="localEmail.touched && localEmail.errors">
                <div *ngIf="localEmail.errors.required" class="alert alert-danger">An email address is required.</div>
                <div *ngIf="localEmail.errors.emailFormatError && !localEmail.errors.required" class="alert alert-danger">Please use the correct format</div>
            </div>            
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" ngControl="phone" class="form-control" #localPhone="ngForm" [(ngModel)]="user.phone">
            <div *ngIf="localPhone.touched && localPhone.errors">
                <div class="alert alert-danger">A phone number is required.</div>
            </div>
        </div>
    </fieldset>



    <fieldset>
        <legend>Address</legend>
        <div ngControlGroup="address">
            <div class="form-group">
                <label for="street">Street</label>
                <input type="text" ngControl="street" class="form-control" [(ngModel)]="user.address.street">
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" ngControl="city" class="form-control" [(ngModel)]="user.address.city">
            </div>
            <div class="form-group">
                <label for="state">Zipcode</label>
                <input type="text" ngControl="zipcode" class="form-control" [(ngModel)]="user.address.zipcode">
            </div>
        </div>
    </fieldset>
    <button class="btn btn-primary" type="submit" [disabled]="!newUserForm.valid" (click)="onSubmit()">Add user.</button>
</form>

</div>
</div>

