<nav class="navbar navbar-default">
    <div class="container-fluid">   
        <div class="navbar-header">
            <a [routerLink]="['Home']" class="navbar-brand">Angular by Chetan</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav"> 
                <li [class.active]="getCurrentRoute(['Users'])">
                    <a [routerLink]="['Users']">Users</a></li>
                <li [class.active]="getCurrentRoute(['Posts'])">
                    <a [routerLink]="['Posts']">Posts</a></li>
            </ul>
        </div>
    </div>
</nav>



